header{
    text-align: center;
    flex-flow: wrap;
}

nav.header {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    justify-content: center; 
    display: grid;
    grid-template-columns: 100%;
  }

header li {
    display: inline-block;
    width: 200px;
    list-style-type: none;
  }
  
header li a {
    color: white;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
    border-left: 2px solid black;
}
 header li.rb a{
  text-align: center;
  border-right: 2px solid black;
}
img {
    display: inline-block;
    width: 100%;
    list-style-type: none;
}
body {
  text-align: center;
  flex-flow: wrap;
}
p.tit {
  font-family: 'Courier New', Courier, monospace;
  font-size: 150%;
  color: rgb(69, 110, 156);
}
div.fotos {
  width: 30%;
  float: left;
  padding-left: 3%;
}
div p {
  text-align: center;
}
div.text p{
  color: rgb(71, 71, 71);
  margin-top: -1%;
}
p.text {
  color: rgb(71, 71, 71);
}
button {
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 10px 22px;
}
nav.footer {
  width: 100%;
  height: 40px;
  color: rgb(133, 128, 128);
}
nav.footer ul {
  list-style: none;
}
nav.footer ul li {
  position: relative;
  display: inline-block;
  align-items: center;
  width: 32%;
  height: 40px;
  float: left;
}
nav.footer ul a {
  display: block;
  width: 100%;
  height: inherit;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  color: rgb(133, 128, 128);
}
nav.footer ul a:hover {
  cursor: pointer;
}
hr {
  width: 80%;
  color: rgb(190, 184, 184);
}
img.curriculum {
  width: 450px;
}
button a {
  text-decoration: none;
  color: white;
}
tr {
  background-color: #333;
}
table {
  color: white;
  background-color: white;
}
button:hover{
  opacity: 70%;
}
img.op:hover{
  opacity: 70%;
}